.payments .image-gallery,
.payments .image-gallery-pacotes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  height: 460px;
  margin-top: 24px;
  width: 100%;
}

.payments .content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.payments .content-container .image-gallery .image.first {
  background: url(../img/mala.png) no-repeat;
  background-size: cover;
}

.payments .content-container .image-gallery-pacotes .image.first {
  background: url(../img/pacotes-pagamento-1.png) no-repeat;
  background-size: cover;
}

.payments .content-container .image-gallery .image.second {
  background: url(../img/passaport.png) no-repeat;
  background-size: cover;
}
.payments .content-container .image-gallery-pacotes .image.second {
  background: url(../img/pacotes-pagamento-2.png) no-repeat;
  background-size: cover;
}
.payments .content-container .image-gallery .image.image.third {
  background: url(../img/pessoas.png) no-repeat;
  background-size: cover;
}

.payments .content-container .image-gallery-pacotes .image.third {
  background: url(../img/pacotes-pagamento-3.png) no-repeat;
  background-size: cover;
}

.payments .image-gallery .image.colspan-2 {
  grid-column: span 2;
}
.payments .image-gallery-pacotes .image.colspan-2 {
  grid-column: span 2;
}

@media screen and (min-width: 768px) {
  .payments .content-container .image-gallery .image.first {
    background: url(../img/mala-tablet.png) no-repeat;
    background-size: cover;
  }

  .payments .content-container .image-gallery-pacotes .image.first {
    background: url(../img/pacotes-pagamento-desktop-1.png) no-repeat;
    background-size: cover;
  }

  .payments .content-container .image-gallery .image.second {
    background: url(../img/passaport-tablet.png) no-repeat;
    background-size: cover;
  }

  .payments .content-container .image-gallery-pacotes .image.second {
    background: url(../img/pacotes-pagamento-desktop-2.png) no-repeat;
    background-size: cover;
  }
  .payments .content-container .image-gallery .image.image.third {
    background: url(../img/pessoas-tablet.png) no-repeat;
    background-size: cover;
  }

  .payments .content-container .image-gallery-pacotes .image.third {
    background: url(../img/pacotes-pagamento-desktop-3.png) no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1440px) {
  .payments .content-container {
    flex-direction: row;
  }
  .payments .content-container .image-gallery {
    width: 790px;
  }

  .payments .content-container .text-content {
    width: 360px;
  }
}
